@model TicketViewModel
@{
}

<section class="page-title">
    <div class="page-title-img bg-img bg-overlay-darken">
        <div class="container">
            <div class="row align-items-center justify-content-center height100px">
                <div class="col-lg-8">
                    <div class="page-title-content">
                        <div class="title-border">
                            <h1 class="text-white text-uppercase font-weight-bold">Ticket Details</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Ticket Detail</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
@*                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                    <i class="fas fa-times"></i>
                </button>*@
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
                    <div class="row justify-content-center">
                        <div class="col-12 col-sm-4">
                            <div class="info-box bg-light">
                                <div class="info-box-content">
                                    <span class="info-box-text text-center text-muted">Comments</span>
                                    <span class="info-box-number text-center text-muted mb-0">@Model.CommentsCount</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="info-box bg-light">
                                <div class="info-box-content">
                                    <span class="info-box-text text-center text-muted">Priority</span>
                                    @if (@Model.TicketPriority == "Low")
                                    {
                                        <span class="info-box-number text-center mb-0 badge badge-info">@Model.TicketPriority</span>
                                    }
                                    else if (@Model.TicketPriority == "Medium")
                                    {
                                        <span class="info-box-number text-center mb-0 badge badge-success">@Model.TicketPriority</span>
                                    }
                                    else
                                    {
                                        <span class="info-box-number text-center mb-0 badge badge-danger">@Model.TicketPriority</span>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="info-box bg-light">
                                <div class="info-box-content">
                                    <span class="info-box-text text-center text-muted">Category</span>
                                    <span class="info-box-number text-center text-muted mb-0">@Model.TicketCategory</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <h4>Created From</h4>
                            <div class="post">
                                <div class="user-block">
                                    @if (@Model.CreatorAvatar != null)
                                    {
                                        <img class="header__avatar"
                                         style="width:40px;height:40px; object-fit:cover; border-radius:30px"
                                         src="data:image/*;base64,@(Convert.ToBase64String(@Model.CreatorAvatar.Content))">
                                    }
                                    else
                                    {
                                        <img class="header__avatar some-avatar" id="profilePicture"
                                         src="~/assets/images/Portrait_Placeholder.png" object-fit:cover" src="">
                                    }
                                    <span class="username">
                                        <a asp-area="Administration" asp-action="Edit" asp-controller="User"
                                           asp-route-id="@Model.CreatorId">@Model.CreatorName</a>
                                    </span>
                                    <span class="description">Ticket Created on:</span>
                                    <span class="description">@Model.CreatedOn</span>
                                </div>
                                <h6 class="text-black-50 text-center">Ticket Description</h6>
                            </div>
                            <div class="post clearfix">
                                <p>@Model.Description</p>
                            </div>
                            <div class="post clearfix">
                                @if (@Model.AcceptantId != null)
                                {
                                    @if (@Model.AcceptantAvatar != null)
                                    {
                                        <img class="header__avatar"
                                     style="width:40px;height:40px; object-fit:cover; border-radius:30px"
                                     src="data:image/*;base64,@(Convert.ToBase64String(@Model.CreatorAvatar.Content))">
                                    }
                                    else
                                    {
                                        <img class="header__avatar some-avatar" id="profilePicture"
                                     src="~/assets/images/Portrait_Placeholder.png" object-fit:cover" src="">
                                    }
                                    <span class="username">
                                        <a asp-area="Administration" asp-action="Edit" asp-controller="User"
                                       asp-route-id="@Model.CreatorId">@Model.CreatorName</a>
                                    </span>
                                    <span class="description">Ticket Accepted on:</span>
                                    <span class="description">@Model.AcceptedOn</span>
                                }
                                else
                                {
                                    <section class="page-title">
                                        <div class="page-title-img bg-img bg-overlay-darken">
                                            <div class="container">
                                                <div class="row align-items-center justify-content-center height100px">
                                                    <div class="col-lg-8">
                                                        <div class="page-title-content">
                                                            <div class="title-border">
                                                                <h3 class="text-white text-uppercase font-weight-bold">
                                                                    No
                                                                    one have been assigned Yet
                                                                </h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
                    <h1 class="text-center">Project</h1>
                    <h3 class="text-primary text-center">
                        <i class="fa fa-solid fa-address-card"
                           style="padding: 0.5rem"></i>@Model.ProjectName
                    </h3>
                    <h6 class="text-black-50 text-center">Project Description</h6>
                    <p class="text-muted text-center">@Model.Description</p>
                    <br>
                    <div class="pt-md-5">
                        <div class="text-muted pt-md-1">
                            <div class="row">
                                <div class="col-6 col-sm-6">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            @if (@Model.CurrentStatus == "Open")
                                            {
                                                <span class="info-box-text text-center text-muted">Status</span>
                                                <span class="badge badge-info">@Model.CurrentStatus</span>
                                            }
                                            else if (@Model.CurrentStatus == "Accepted")
                                            {
                                                <span class="info-box-text text-center text-muted">Status</span>
                                                <span class="badge badge-success">@Model.CurrentStatus</span>
                                            }
                                            else
                                            {
                                                <span class="info-box-text text-center text-muted">Status</span>
                                                <span class="badge badge-danger">@Model.CurrentStatus</span>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-6">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content text-center">
                                            @if (@Model.CurrentStatus == "Open" || @Model.CurrentStatus == "Accepted")
                                            {
                                                <a class="btn btn-primary btn-block"
                                               asp-area="Administration" asp-controller="Ticket" asp-action="CloseTicket" asp-route-id="@Model.TicketId">Close Ticket</a>
                                            }
                                            else
                                            {
                                                <a class="btn btn-danger btn-block disabled" area-disabled="true">Closed Ticket</a>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @if (@Model.CurrentStatus == "Open" || @Model.CurrentStatus == "Accepted")
                            {
                                <a class="btn btn-primary btn-block mb-2"
                               asp-area="Administration" asp-controller="Ticket" asp-action="AssigneTicket" asp-route-id="@Model.TicketId">Assigne Ticket</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>