@model IEnumerable<TicketViewModel>
@{
}

<table class="table tm-table-small tm-product-table long-table">
	<thead>
		<tr>
			<th scope="col">Ticket</th>
			<th scope="col">Comments</th>
			<th scope="col">Creator</th>
			<th scope="col">Acceptant</th>
			<th scope="col">Priority</th>
			<th scope="col">Category</th>
			<th scope="col">Status</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var ticket in @Model)
		{
		<tr>
			<td data-label="Title" class="tm-product-name">
				@ticket.Title
			</td>
			<td data-label="Comments" class="tm-product-name">
				@ticket.CommentsCount
			</td>
			<td class="tm-product-name" data-label="Creator">
				<ul class="list-inline">
					<li class="list-inline-item">
						@if (ticket.CreatorAvatar != null)
						{
						<img class="header__avatar"
							style="width:40px;height:40px; object-fit:cover; border-radius:30px"
							src="data:image/*;base64,@(Convert.ToBase64String(ticket.CreatorAvatar.Content))">
						}
						else
						{
						<img class="header__avatar table-avatar some-avatar" style="width:40px;height:40px; id="
							profilePicture" src="~/assets/images/Portrait_Placeholder.png" object-fit:cover" src="">
						}
					</li>
				</ul>
			</td>
			<td class="tm-product-name" data-label="Acceptant">
				<ul class="list-inline">
					<li class="list-inline-item">
						@if (ticket.AcceptantAvatar != null)
						{
						<img class="header__avatar"
							style="width:40px; height:40px; object-fit:cover; border-radius:30px"
							src="data:image/*;base64,@(Convert.ToBase64String(ticket.AcceptantAvatar.Content))">
						}
						else
						{
						<img class="header__avatar table-avatar some-avatar" style="width:40px;height:40px; id="
							profilePicture" src="~/assets/images/Portrait_Placeholder.png" object-fit:cover" src="">
						}
					</li>
				</ul>
			</td>
			<td class="tm-product-name" data-label="Priority">
				@if (@ticket.TicketPriority == "Low")
				{
				<span class="info-box-number text-center mb-0 badge badge-info">@ticket.TicketPriority</span>
				}
				else if (@ticket.TicketPriority == "Medium")
				{
				<span class="info-box-number text-center mb-0 badge badge-success">@ticket.TicketPriority</span>
				}
				else
				{
				<span class="info-box-number text-center mb-0 badge badge-danger">@ticket.TicketPriority</span>
				}
			</td>
			<td data-label="Category" class="tm-product-name">
				@ticket.TicketCategory
			</td>
			<td class="tm-product-name project-state" data-label="Status">
				@if (ticket.CurrentStatus == "Open")
				{
				<span class="badge badge-info">@ticket.CurrentStatus</span>
				}
				else if (ticket.CurrentStatus == "Accepted")
				{
				<span class="badge badge-success">@ticket.CurrentStatus</span>
				}
				else
				{
				<span class="badge badge-danger">@ticket.CurrentStatus</span>
				}
			</td>
			<td class="project-actions text-right">
				<a class="btn btn-primary btn-sm" asp-area="" asp-action="Details"
					asp-controller="Ticket" asp-route-id="@ticket.TicketId"><i style="padding-right:0.5rem;"
						class="fas fa-folder"></i>Details</a>
			</td>
		</tr>
		}
	</tbody>
</table>