@model ProjectDetailsModel
@{
}

<section class="page-title">
	<div class="page-title-img bg-img bg-overlay-darken">
		<div class="container">
			<div class="row align-items-center justify-content-center height100px">
				<div class="col-lg-8">
					<div class="page-title-content">
						<div class="title-border">
							<h1 class="text-white text-uppercase font-weight-bold">@Model.ProjectName Project</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

@*<div class="row tm-content-row">
	<div class="tm-block-col">
		<div class="tm-bg-primary-dark tm-block" style="max-height: 500px">
			<h2 class="tm-block-title text-center">Project Details</h2>
			<div class="tm-product-table-container">

				<div class="col-xl-12 col-lg-12 col-md-12">
					<div class="form-group mb-3 text-center">
						<label asp-for="ProjectName" class="form-label"></label>
						<input id="name" asp-for="ProjectName" class="form-control validate" readonly />
					</div>
					<div class="row text-center">
						<div class="form-group mb-3 col-xs-12 col-sm-6">
							<label asp-for="@Model.Status">Status</label>
							<input id="expire_date" asp-for="@Model.Status" id="Status" class="form-control validate"
								readonly value="
                                @if (@Model.Status.ToString() == " InProgress") { <span
								class="badge badge-info">@Model.Status</span>
							}
							else if (@Model.Status.ToString() == "Success")
							{
							<span class="badge badge-success">@Model.Status</span>
							}
							else
							{
							<span class="badge badge-danger">@Model.Status</span>
							}
							"/>
						</div>
						<div class="form-group mb-3 col-xs-12 col-sm-6">
							<label asp-for="DepartmentName">Department</label>
							<input id="expire_date" asp-for="@Model.DepartmentName" id="department" class="form-control"
								value="@Model.DepartmentName" readonly />
						</div>
					</div>
					<div class="form-group mb-3 text-center">
						<label asp-for="@Model.Description">Description</label>
						<textarea class="form-control validate tm-small" rows="5">@Model.Description</textarea>
					</div>
					<div class="form-group mb-3 text-center">
						<label asp-for="@Model.CreatedOn">Created On</label>
						<input id="expire_date" asp-for="@Model.CreatedOn" id="createdOn" class="form-control"
								value="@date" readonly />
					</div>
					<div class="row text-center">
						<div class="form-group mb-3 col-xs-12 col-sm-6">
							<label asp-for="@Model.Employees">Employees</label>
							<input id="expire_date" asp-for="@Model.Employees" id="employees" class="form-control"
								value="@Model.Employees" readonly />
						</div>
						<div class="form-group mb-3 col-xs-12 col-sm-6">
							<label asp-for="@Model.Tickets">Tickets</label>
							<input id="expire_date" asp-for="@Model.Tickets" id="tickets" class="form-control"
								value="@Model.Tickets" readonly />
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>*@

<div class="container tm-mt-big tm-mb-big">
      <div class="row text-center">
        <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
          <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
            <div class="row">
              <div class="col-12">
                <h2 class="tm-block-title d-inline-block">@Model.ProjectName Details</h2>
              </div>
            </div>
            <div class="row tm-edit-product-row">
              <div class="col-xl-6 col-lg-6 col-md-12">
                <form action="" method="post" class="tm-edit-product-form">
                  <div class="form-group mb-3">
                    <label asp-for="ProjectName">Project Name
                    </label>
                    <input asp-for="@Model.ProjectName" id="name" name="name" 
					type="text" value="@Model.ProjectName" class="form-control validate text-center" readonly>
                  </div>

				  <div class="row">
						<div class="form-group mb-3 col-xs-12 col-sm-6">
							<label asp-for="@Model.CreatedOn">Created On</label>
							<input id="expire_date" asp-for="@Model.CreatedOn" id="createdOn" class="form-control text-center"
								value="@Model.CreatedOn" readonly />
						</div>
						<div class="form-group mb-3 col-xs-12 col-sm-6">
							<label asp-for="@Model.Status">Status</label>
							<input id="expire_date" asp-for="@Model.Status" id="STATUS" class="form-control text-center"
								value="@Model.Status" readonly />
						</div>
					</div>
				  <div class="form-group mb-3">
							<label asp-for="DepartmentName">Department</label>
							<input id="expire_date" asp-for="@Model.DepartmentName" id="department" class="form-control text-center"
								value="@Model.DepartmentName" readonly />
				</div>
				  <br/>
					<div class="row">
						<div class="form-group mb-3 col-xs-12 col-sm-6">
							<label asp-for="@Model.Employees">Employees</label>
							<input id="expire_date" asp-for="@Model.Employees" id="employees" class="form-control text-center"
								value="@Model.Employees" readonly />
						</div>
						<div class="form-group mb-3 col-xs-12 col-sm-6">
							<label asp-for="@Model.Tickets">Tickets</label>
							<input id="expire_date" asp-for="@Model.Tickets" id="tickets" class="form-control text-center"
								value="@Model.Tickets" readonly />
						</div>
					</div>
                  
              </form>
			  </div>
              <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
                <div class="tm-product-img-edit mx-auto ">
                  <img src="/assets/images/Webp.net-compress-image.jpg" alt="Product image" class="img-fluid projectImg">
                </div>
              </div>
                              <div class="form-group mb-3">
                    <label for="description">Description</label>
                    <textarea class="form-control z-depth-1 projectText" readonly
					rows="10">@Model.Description</textarea>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
