@model HistoryModel
@{
}

<section class="page-title mt-5">
    <div class="page-title-img bg-img bg-overlay-darken">
        <div class="container">
            <div class="row align-items-center justify-content-center height100px">
                <div class="col-lg-8">
                    <div class="page-title-content">
                        <div class="title-border">
                            <h1 class="text-white text-uppercase font-weight-bold">Employee Last 5 Projects</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@if (@Model.ProjectsData == null || @Model.ProjectsData.Count <= 0)
{
    <section class="page-title">
        <div class="page-title-img bg-img" style="background-color: #1884e9;">
            <div class="container">
                <div class="row align-items-center justify-content-center height100px">
                    <div class="col-lg-8">
                        <div class="page-title-content">
                            <div class="title-border">
                                <div class="form-floating">
                                    <h3 style="color: #ffff;">Employee have not beet working on any projects</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
else
{
    <div class="card-body p-0">
        <table class="table table-striped projects">
            <thead>
                <tr>
                    <th style="width: 20%">Project Name</th>
                    <th style="width: 30%">Team Members</th>
                    <th style="width: 8%" class="text-center">Status</th>
                    <th style="width: 20%"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var project in @Model.ProjectsData)
                {
                    <tr>
                        <td data-label="Project Name">
                            <a>@project.ProjectName</a>
                            <br>
                            <small>Created @project.CreatedOn</small>
                        </td>
                        <td data-label="Team Member">
                            <ul class="list-inline">
                                @foreach (var avatar in project.EmployeeImages)
                                {
                                    <li class="list-inline-item">
                                    @if (avatar.Content != null)
                                    {
                                        <img class="header__avatar"
                                        style="width:40px;height:40px; object-fit:cover; border-radius:30px"
                                        src="data:image/*;base64,@(Convert.ToBase64String(avatar.Content))">
                                    }
                                    else
                                    {
                                        <img class="header__avatar table-avatar" id="profilePicture"
                                        src="~/assets/images/Portrait_Placeholder.png" object-fit:cover" src="">
                                    }
                                    </li>
                                }
                            </ul>
                        </td>
                        <td data-label="Status" class="project-state">
                            @if (project.Status.ToString() == "InProgress")
                            {
                                <span class="badge badge-info">@project.Status</span>
                            }
                            else if (project.Status.ToString() == "Success")
                            {
                                <span class="badge badge-success">@project.Status</span>
                            }
                            else
                            {
                                <span class="badge badge-danger">@project.Status</span>
                            }
                        <td class="project-actions text-right">
                            <a class="btn btn-info btn-sm" asp-area="administration" asp-action="edit" asp-controller="project"
                       asp-route-id="@project.ProjectId"><i class="fas fa-pencil-alt"></i>Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<section class="page-title mt-5">
    <div class="page-title-img bg-img bg-overlay-darken">
        <div class="container">
            <div class="row align-items-center justify-content-center height100px">
                <div class="col-lg-8">
                    <div class="page-title-content">
                        <div class="title-border">
                            <h1 class="text-white text-uppercase font-weight-bold">Employee Last 10 Created Tickets</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@if (@Model.CreatedTicketsData == null || @Model.CreatedTicketsData.Count <= 0)
{
    <section class="page-title">
        <div class="page-title-img bg-img" style="background-color: #1884e9;">
            <div class="container">
                <div class="row align-items-center justify-content-center height100px">
                    <div class="col-lg-8">
                        <div class="page-title-content">
                            <div class="title-border">
                                <div class="form-floating">
                                    <h3 style="color: #ffff;">Employee have not created any tickets</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
else
{
    <div class="card-body p-0">
        <table class="table table-hover table-striped projects">
            <thead>
                <tr class="text-center">
                    <th style="width: 20%">Ticket</th>
                    <th style="width: 30%">Category</th>
                    <th style="width: 10%">Priority</th>
                    <th style="width: 1%">Coments</th>
                    <th style="width: 8%" class="text-center">Status</th>
                    <th style="width: 20%"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ticket in @Model.CreatedTicketsData)
                {
                    <tr class="text-center">
                        <td data-label="Title">
                            <a>@ticket.Title</a>
                            <br>
                            <small>Created @ticket.CreatedOn</small>
                        </td>
                        <td data-label="Category">
                            <a>@ticket.TicketCategory</a>
                        </td>
                        <td data-label="Priority">
                        @if (@ticket.TicketPriority == "Low")
                        {
                            <span class="info-box-number text-center mb-0 badge badge-info">@ticket.TicketPriority</span>
                        }
                        else if (@ticket.TicketPriority == "Medium")
                        {
                            <span class="info-box-number text-center mb-0 badge badge-success">@ticket.TicketPriority</span>
                        }
                        else
                        {
                            <span class="info-box-number text-center mb-0 badge badge-danger">@ticket.TicketPriority</span>
                        }
                        <td data-label="Comments">
                            <a>@ticket.CommentsCount</a>
                        </td>
                        <td data-label="Status">
                        @if (ticket.CurrentStatus == "Open")
                        {
                            <span class="badge badge-info">@ticket.CurrentStatus</span>
                        }
                        else if (ticket.CurrentStatus == "Accepted")
                        {
                            <span class="badge badge-success">@ticket.CurrentStatus</span>
                        }
                        else
                        {
                            <span class="badge badge-danger">@ticket.CurrentStatus</span>
                        }
                        </td>
                        <td class="project-actions text-right">
                            <a class="btn btn-primary btn-sm" asp-area="Administration" asp-action="Details"
                       asp-controller="Ticket" asp-route-id="@ticket.TicketId"><i class="fas fa-folder pr-1"></i>Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}


<section class="page-title mt-5">
    <div class="page-title-img bg-img bg-overlay-darken">
        <div class="container">
            <div class="row align-items-center justify-content-center height100px">
                <div class="col-lg-8">
                    <div class="page-title-content">
                        <div class="title-border">
                            <h1 class="text-white text-uppercase font-weight-bold">Employee Last 10 Accepted Tickets</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@if (@Model.AcceptedTicketsData == null || @Model.AcceptedTicketsData.Count <= 0)
{
    <section class="page-title">
        <div class="page-title-img bg-img" style="background-color: #1884e9;">
            <div class="container">
                <div class="row align-items-center justify-content-center height100px">
                    <div class="col-lg-8">
                        <div class="page-title-content">
                            <div class="title-border">
                                <div class="form-floating">
                                    <h3 style="color: #ffff;">Employee have not accepted any tickets</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
else
{
    <div class="card-body p-0">
        <table class="table table-hover table-striped projects">
            <thead>
                <tr>
                    <th style="width: 20%">Ticket</th>
                    <th style="width: 20%">Category</th>
                    <th style="width: 20%">Priority</th>
                    <th style="width: 1%">Coments</th>
                    <th style="width: 8%" class="text-center">Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ticket in @Model.AcceptedTicketsData)
                {
                    <tr>
                        <td data-label="Title">
                            <a>@ticket.Title</a>
                            <br>
                            <small>Created @ticket.CreatedOn</small>
                        </td>
                        <td data-label="Category">
                            <a>@ticket.TicketCategory</a>
                        </td>
                        <td data-label="Priority">
                            @if (@ticket.TicketPriority == "Low")
                            {
                                <span class="info-box-number text-center mb-0 badge badge-info">@ticket.TicketPriority</span>
                            }
                            else if (@ticket.TicketPriority == "Medium")
                            {
                                <span class="info-box-number text-center mb-0 badge badge-success">@ticket.TicketPriority</span>
                            }
                            else
                            {
                                <span class="info-box-number text-center mb-0 badge badge-danger">@ticket.TicketPriority</span>
                            }
                        </td>
                        <td data-label="Comments">
                            <a>@ticket.CommentsCount</a>
                        </td>
                        <td data-label="Status" class="project-state">
                            @if (ticket.CurrentStatus == "Open")
                            {
                                <span class="badge badge-info">@ticket.CurrentStatus</span>
                            }
                            else if (ticket.CurrentStatus == "Accepted")
                            {
                                <span class="badge badge-success">@ticket.CurrentStatus</span>
                            }
                            else
                            {
                                <span class="badge badge-danger">@ticket.CurrentStatus</span>
                            }
                        </td>
                        <td class="project-actions text-right">
                            <a class="btn btn-primary btn-sm" asp-area="administration" asp-action="Details"
                       asp-controller="project" asp-route-id="@ticket.TicketId"><i class="fas fa-folder"></i>View</a>
                            <a class="btn btn-info btn-sm" asp-area="administration" asp-action="edit" asp-controller="project"
                       asp-route-id="@ticket.TicketId"><i class="fas fa-pencil-alt"></i>Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}