@using IssueSystem.Models.Admin.User
@model UserEditViewModel
@{
    string EmployeeName = Model.FirstName + " " + Model.LastName;
    string UserId = Model.UserId;
}

<section class="page-title">
    <div class="page-title-img bg-img bg-overlay-darken">
        <div class="container">
            <div class="row align-items-center justify-content-center height100px">
                <div class="col-lg-8">
                    <div class="page-title-content">
                        <div class="title-border">
                            <h1 class="text-white text-uppercase font-weight-bold">Edit Employee Info</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-title">
    <div class="page-title-img bg-img" style="background-color: #1884e9;">
        <div class="container">
            <div class="row align-items-center justify-content-center height100px">
                <div class="col-lg-8">
                    <div class="page-title-content">
                        <div class="title-border">
                            <div class="form-floating">
                                <h3 style="color: #ffff;">Employee: @Html.DisplayFor(m => EmployeeName)</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="row editBox">
  <div class="col-8">
    <form id="edit" method="post">
      <input asp-for="UserId" type="hidden" name="UserId" value="@UserId" />
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <div class="row">
        <div class="col-6">
          <div class="form-floating">
            <label asp-for="@Model.FirstName" class="form-label"></label>
            <input asp-for="@Model.FirstName" class="form-control" aria-required="true" />
            <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
          </div>
          <div class="form-floating">
            <label asp-for="@Model.LastName" class="form-label"></label>
            <input asp-for="@Model.LastName" class="form-control" autocomplete="current-password"
              aria-required="true" />
            <span asp-validation-for="@Model.LastName" class="text-danger"></span>
          </div>
        </div>
        <div class="col-6">
          <div class="form-floating">
            <label asp-for="@Model.Email" class="form-label"></label>
            <input asp-for="@Model.Email" class="form-control" autocomplete="email" aria-required="true" />
            <span asp-validation-for="@Model.Email" class="text-danger"></span>
          </div>
          <div class="form-floating">
            <label asp-for="@Model.Department" class="form-label"></label>
            <input asp-for="@Model.Department" class="form-control" autocomplete="email" readonly />
            <span asp-validation-for="@Model.Department" class="text-danger"></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="row">&nbsp;</div>
              <button id="login-submit" type="submit" class="btn btn-primary btn-block">Submit</button>
        </div>
        <div class="col-6">
          <div class="row">&nbsp;</div>
            <a type="submit" asp-area="Administration" asp-action="ChangeDepartment" asp-controller="User" asp-route-id="@UserId" class="btn btn-primary btn-block">Change Departmnet</a>
        </div>
      </div>
    </form>
  </div>
</div>

<partial name="_HistoryPartial_" model='ViewBag.History' />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}