@model IEnumerable<ProjectViewModel>
@{
}

<section class="page-title">
    <div class="page-title-img bg-img bg-overlay-darken">
        <div class="container">
            <div class="row align-items-center justify-content-center height100px">
                <div class="col-lg-8">
                    <div class="page-title-content">
                        <div class="title-border">
                            <h1 class="text-white text-uppercase font-weight-bold">Projects</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Projects</h3>
                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right"
                               placeholder="Search">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body table-responsive p-0">
                @if (Model.Count() > 0)
                {
                    <table class="table table-hover text-nowrap">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Department</th>
                                <th>Employees</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var project in Model)
                            {
                                <tr>
                                    <td data-label="Project Name">
                                        @project.ProjectName
                                        <br>
                                        <small>Created @project.CreatedOn</small>
                                    </td>
                                    <td data-label="Department">@project.DepartmentName</td>
                                    <td data-label="Avatar">
                                        <ul class="list-inline">
                                            @foreach (var avatar in project.EmployeesInProject)
                                            {
                                                <li class="list-inline-item">
                                                    @if (avatar.Content != null)
                                                    {
                                                        <img class="header__avatar"
                                             style="width:40px;height:40px; object-fit:cover; border-radius:30px"
                                             src="data:image/*;base64,@(Convert.ToBase64String(avatar.Content))">
                                                    }
                                                    else
                                                    {
                                                        <img class="header__avatar table-avatar some-avatar" id="profilePicture"
                                             src="~/assets/images/Portrait_Placeholder.png" object-fit:cover" src="">
                                                    }
                                                </li>
                                            }
                                        </ul>
                                    </td>
                                    <td data-label="Status" class="project-state">
                                        @if (project.Status.ToString() == "InProgress")
                                        {
                                            <span class="badge badge-info">@project.Status</span>
                                        }
                                        else if (project.Status.ToString() == "Success")
                                        {
                                            <span class="badge badge-success">@project.Status</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-danger">@project.Status</span>
                                        }
                                    </td>
                                    <td style="text-align: right">

                                        <a class="btn btn-primary btn-sm" asp-area="Administration" asp-action="Edit"
                                   asp-controller="Project" asp-route-id="@project.ProjectId">
                                            <i style="padding-right:0.5rem;" class="fas fa-folder"></i>Edit
                                        </a>

                                        <a class="btn btn-info btn-sm" asp-area="administration" asp-action="CreateTicket"
                                   asp-controller="Project" asp-route-id="@project.ProjectId">
                                            <i class="fas fa-pencil-alt"></i>CreateTicket
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <section class="page-title">
                        <div class="page-title-img bg-img" style="background-color: #1884e9;">
                            <div class="container">
                                <div class="row align-items-center justify-content-center height100px">
                                    <div class="col-lg-8">
                                        <div class="page-title-content">
                                            <div class="title-border">
                                                <div class="form-floating">
                                                    <h3 style="color: #ffff;">There is no Project yet</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="col-12 justify-content-center pad text-center">
                        <h3 class="text-center" style="color: #000;">You Can Create One</h3>
                        <div class="row align-items-center justify-content-center height100px">
                            <div class="col-4 justify-content-center pad text-center">
                                <a type="submit" asp-area="Administration" asp-action="CreateProject"
                               asp-controller="Home" class="btn btn-primary btn-block">Create Project</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>