@using IssueSystem.Models.Admin.User
@model ChangeAdminPasswordModel
@{

}

<div class="login-box">
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <a asp-area="Administration" asp-controller="Home" asp-action="Index" class="h1"><b>Change</b>Admin Password</a>
    </div>
    <div class="card-body">
      <p class="login-box-msg">You are only one step a way from your new password, change your password now.</p>
      <form id="account" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="input-group mb-3">
          <input asp-for="@Model.OldPassword" class="form-control validate" autocomplete="current-password"
            placeholder="Current Password" aria-required="true" />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
          <span asp-validation-for="@Model.OldPassword" class="text-danger"></span>

        <div class="input-group mb-3">
          <input asp-for="@Model.NewPassword" class="form-control validate" autocomplete="new-password"
            placeholder="New Password" aria-required="true" />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
          <span asp-validation-for="@Model.NewPassword" class="text-danger"></span>

        <div class="input-group mb-3">
          <input asp-for="@Model.ConfirmPassword" class="form-control validate" autocomplete="new-password"
            placeholder="Confirm Password" aria-required="true" />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
          <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
        </div>

        <div class="row">
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block">Change password</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}